#content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#userInfo {
    width: 70%;
    height: 70%;
    border: 1px solid black;
}

.info {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 100%;
    grid-template-areas: 2;
}