#zadania {
    overflow-y: auto;
    overflow-x: hidden;

    height: calc(100% - 20px);
    width: calc(100% - 20px);

    padding: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.zadanie {
    border: 1px solid rgb(194, 194, 194);
    width: 400px;
    padding: 12px;
    height: 200px;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px calc(100% - 100px);

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.info > h3, span > p, .info > p {
    margin: 7px;
}

.zadanie > .opis {
    margin-top: 10px;
    height: calc(100% - 10px);
    overflow-x: hidden;
    overflow-y: auto;
}

.zadanie > .opis > p {
    margin: 7px;
}

.zadanie, .tools {
    background-color: rgb(24, 24, 24);
}

.tools {
    height: 40px;
    width: 412px;
    padding: 6px;
    border: 1px solid rgb(194, 194, 194);

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 7px;

    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-width: 0px;
}

.elem {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

#line {
    width: 100%;
    height: 1px;
    background-color: rgb(194, 194, 194);
}

#content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 1 / 1;
}

#wyszukiwanie {
    border-bottom: 1px solid rgb(194, 194, 194);

    display: flex;
    justify-content: center;
    align-items: center;
}

#searchBar {
    width: 35%;

    border-radius: 20px;
}

.tools form {
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.przypisane {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}