#zadania {
    overflow-y: auto;
    overflow-x: hidden;

    height: calc(100% - 20px);
    width: calc(100% - 20px);

    padding: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.zadanie {
    border: 1px solid black;
    height: 200px;
    width: 400px;
}