body {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 100%;
    grid-template-areas: "menu main";

    height: 100vh;
    width: 100%;

    margin: 0px;
}

#menu {
    grid-area: menu;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;

    padding-top: 40px;
    border-right: 1px solid rgb(194, 194, 194);
    
    width: 100%;
}

#menu a {
    width: 80%;
    font-weight: bold;
    font-size: 120%;
    color: rgb(25, 224, 131, 0.7);
    color: rgb(194, 194, 194);
}