body {
    /* background-color: rgb(67, 83, 92); */
    /* background-image: linear-gradient(to right bottom, rgb(34, 34, 34), rgb(28, 28, 28), rgb(34, 34, 34)); */
    background-color: rgb(28, 28, 28);
}

a {
    text-decoration: none;
}

* {
    color: rgb(194, 194, 194);
}

input, select, textarea {
    background-color: rgb(22, 22, 22);
    border: 1px solid rgb(25, 224, 131);
}

select, form textarea {
    border: 1px solid rgb(194, 194, 194);
}

input[type=submit] {
    border: rgb(20, 168, 99) 1px solid;
    background-color: rgb(25, 224, 131);
    color: rgb(24, 24, 24);
}

.scroll {
    scrollbar-width: thin;
    scrollbar-color: rgb(25, 224, 131) rgb(24, 24, 24);
}

.green {
    color: rgb(25, 224, 131);
}
